.form-group{
  font-family: 'Poppins', sans-serif ;
}
.container{

margin: 1%;
background-color: #FFFFFF;
padding:  13rem 3rem 13rem 3rem;
box-shadow: 0 0 5px 5px rgba(0,0,0, .05);

}
.signin-text{
  font-family: 'Poppins', sans-serif ;
  color: black !important;
  font-weight: bolder;
  text-align: center;
font-size: 2.2rem;
}

.form-control{
display: block;
width: 100%;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
border-color: #00A572 !important;
border-style: solid !important;
border-width: 0 0 1.7px 0 !important;
padding: 0px !important;
color: #495057;
height: auto;
border-radius: 0;
background-color: #fff;
background-clip: padding-box;
}
.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.btn-class{
  font-family: 'Poppins', sans-serif ;
  color: #00A572 !important;
  position: relative;
  left:135px;
  top: 29px;
  border-color: #00A572 !important;
  border-style: solid !important;
  border-width:medium   !important;
  border-radius: 0;

}
.btn-class:hover{

  background-color: #00A572;
  color:  #fff !important;
}
.btn-class:active {
transform: scale(0.80);
}

.img-fluid{
position: relative;
top: 25px;
right:5px;

}
.header {
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
    font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: bold;
}
.header a:hover {
    text-decoration: none !important;
  background-color: #ddd;
  color: black;
}
.header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-right {
  float: right;
}
/* nav style */
.topnav .icon {
  display: none;
}
.topnav{
  float : right;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black ;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
}

#linkCreateAccount{
  position: relative;
    top: 29px;
    left: 25px;
    cursor: pointer;
}
#linkLogin{
  position: relative;
    top: 29px;
    left: 45px;
    cursor: pointer;

}


#confirmPass{
  font-size: 15px;
}
.form_hidden{
  display: none;
}
#signupBtn{
  position: relative;
left: 118px;

}


#btn-id{
width: 60px;
height: 60px;
font-size: 29px;
cursor: pointer;
border-radius: 50%;
position: fixed;
top: 90%;
left: 90%;
transform: translateY(-50%);
z-index: 1;
}


.card {
margin:5% auto;
float: center;
margin-bottom: 10px;
width: 90%;
}

.box-scroll{
height:600px;
width:740px;
overflow:auto;
background-color:#FFFFFF ;
font-family:sans-serif;
padding:0%;
margin:5% 15%;
}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
background: #D8DBE2;
border-radius: 10px;
}
::-webkit-scrollbar-track {
border: 1px solid #D8DBE2;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #373f51;
}
